@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

#imagem {
    background-image: url(img/fundo7.jpg);
    background-attachment: fixed; 
    background-size: cover;
}
.logo img{
    height: 50px;
    width: 30px;
    margin-left: 85px;
    margin-top: 25px;
    }

.titulo{
    font-family: 'Poppins';
    font-size: 60px;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 30px;
    text-align: center;
    
}


.container-md .card {
    height: 230px;
    align-items: center;
    justify-content: center;
    display: block;
    margin: 10px;
    padding: 8px;
    margin-top: 90px;
    border-radius: 5%;
    
    
}
.container-md img {
    width: 100%;
    height: 100%;
}
.descricao p {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.d2, .d3, .d1 {
    padding: 2px;
    margin: 2px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.5);
    
}
div p {
    color: black;
    
    margin-left: 20%;
    margin-top: 4%;
    font-weight: bold;
       
}
.container-md {
    flex-flow: row wrap;
}

.p1, .p2 {
    margin-top: -4%;
}

.itemA {
    grid-row: 1/2;
    height: 752.5px;
    display: flex;
    flex-direction: column;
    }
    
    
    .itemA i{
        padding-top: 25px;
        padding-left: 20px;
        margin-bottom: 25px;
        margin-right: 10px;
    }

    .itemA i:hover{
        cursor: pointer;
    }
    
    input[type="checkbox"]
    {
        display: none;
    }
    
    nav {
        background-color: rgba(16, 16, 16, .5);
        width: 350px;
        height: 100%;
        left: -351px;
        position: absolute;
        border-right: rgba(255, 255, 255, 0.4) solid 1px;
        z-index: 1;
    }
    input[type="checkbox"]:checked ~ nav
    {
    transform: translateX(350px);
    }
    nav li:nth-of-type(1){
        border-top: 1px rgba(255, 255, 255, 0.4) solid ;
        margin-top: 25px;
    }
    nav li{
        list-style: none;
    }
    nav li a{
        display: block;
        padding: 20px 30px;
        color: white;
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
    }
    nav li a:hover
    {
        color: #991616;
    }
    label{
    
        padding: 15px;
        position: absolute;
        z-index: 2;
    }
    ul {
    
        position: absolute;
        top: 70px;
        width: 100%;
    }

    

    @media (min-width: 400px) AND (max-width: 699px){
        .titulo{
            font-size: 40px;
        }

        .row{
            display: flex;
            justify-content: center;
        }

        .container-md .col-4, .container-md .col-lg-3{
            min-width: 250px;
        }
    }

@media (min-width: 700px) AND (max-width: 850px){
    .titulo{
        font-size: 50px;
    }
}


