@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: 'content header'
                         'content aside';
    grid-template-rows: 15vh 85vh;
    grid-template-columns: 78% 22%;
}
#imgfundo {
    background-image: url(img/fundo2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.logo img{
    height: 50px;
    width: 30px;
    padding-top: 25px;
    padding-left: 85px;
    }
    i{
        align-items: center;
        padding: 13px;
    }
    /*INICIO NAV E ITEM A */

.itemA {
grid-row: 1/2;
height: 752.5px;
display: flex;
flex-direction: column;
}


.itemA i{
    padding-top: 25px;
    padding-left: 20px;
    margin-bottom: 25px;
    margin-right: 10px;
}

.itemA i:hover{
    cursor: pointer;
}

input[type="checkbox"]
{
    display: none;
}

nav {
    background-color: rgba(16, 16, 16, .5);
    width: 350px;
    height: 100%;
    left: -351px;
    position: absolute;
    border-right: rgba(255, 255, 255, 0.4) solid 1px;
}
input[type="checkbox"]:checked ~ nav
{
transform: translateX(350px);
}
nav li:nth-of-type(1){
    border-top: 1px rgba(255, 255, 255, 0.4) solid ;
    margin-top: 25px;
}
nav li a{
    display: block;
    padding: 20px 30px;
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
nav li a:hover
{
    color: #991616;
}
label{

    padding: 15px;
    position: absolute;
    z-index: 1;
}
ul {

    position: absolute;
    top: 70px;
    width: 100%;
}

/* INICIO LEBROM*/
.melhorJogador{
    width: 60vh;
    margin-left: 60px;
    color: white;
    margin-top: 80px;
}

.melhorJogador h1{
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    margin-bottom: 40px;
}

.melhorJogador p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.melhorJogador button{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 20px;
    width: 140px;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    background-color: #c81c1c;
}

.melhorJogador button:hover{
    cursor: pointer;
    background-color: #fff000;
}

/*FIM LEMBROM*/
/*FIM DA NAV E ITEM A */

.itemB {
    display: flex;
    grid-row: 1;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    align-items: center;
    justify-content: center;
}
.itemB i{
    align-items: center;
    padding: 13px;
}
.itemB p {
    
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: white;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.itemB a i{
    color: white;
}
.itemB a i:hover {
    color: #221414;
}
.itemC {
    grid-column: 2;
    border-left: 1px solid rgba(255, 255, 255, 0.4);
    display: flex;
    justify-content: center;

}
.itemC .p1 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    margin-left: 15%;
    margin-top: 1%;
}
.itemC .p2 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 1%;
    margin-bottom: 40%;
}
.itemC .p3 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    margin-top: 1%;
    margin-left: 25%;
}
.itemC .p4 
{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 20%;
}
.itemC .p5{
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: white;
    
    margin-left: 15%;
}
.itemC .p6 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-left: 10%;
}
.itemC .textos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img1 img {
    margin-top: 15px;
    margin-left: 20%;
    height: 100px;
    width: 100px;
}
.img2 img {
    margin-top: -40%;
    margin-left: 5%;
    height: 150px;
    width: 180px;
}
.img3 img {
    margin-left: 5%;
    height: 150px;
    width: 180px;
}

@media (min-width: 900px){
    .melhorJogador{
        width: 50vh;
        margin-left: 60px;
        color: white;
        margin-top: 80px;
    }

    .melhorJogador h1{
        font-family: 'Poppins', sans-serif;
        font-size: 40px;
        margin-bottom: 40px;
    }
    
    .melhorJogador p{
        font-family: 'Poppins', sans-serif;
        font-size: 13px;
    }

    .img1 img {
        margin-top: 15px;
        margin-left: 20%;
        height: 100px;
        width: 100px;
    }
    .img2 img {
        margin-top: -40%;
        margin-left: 5%;
        height: 120px;
        width: 150px;
    }
    .img3 img {
        margin-left: 5%;
        height: 120px;
        width: 150px;
    }
}


@media (min-width: 500px){
    .itemC, .itemB{
        display: none;
    }

    .melhorJogador h1{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        margin-bottom: 40px;
    }
    
    .melhorJogador p{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }
}




@media (min-width: 1000px){

    .itemC, .itemB{
        display: flex;
    }

    .melhorJogador{
        width: 50vh;
        margin-left: 60px;
        color: white;
        margin-top: 80px;
    }

    .melhorJogador h1{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        margin-bottom: 40px;
    }
    
    .melhorJogador p{
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
    }

    .img1 img {
        margin-top: 15px;
        margin-left: 20%;
        height: 80px;
        width: 80px;
    }
    .img2 img {
        margin-top: -40%;
        margin-left: 5%;
        height: 100px;
        width: 130px;
    }
    .img3 img {
        margin-left: 5%;
        height: 100px;
        width: 130px;
    }
}

@media (min-width: 1200px){
    .melhorJogador{
        width: 50vh;
        margin-left: 60px;
        color: white;
        margin-top: 80px;
    }

    .melhorJogador h1{
        font-family: 'Poppins', sans-serif;
        font-size: 50px;
        margin-bottom: 40px;
    }
    
    .melhorJogador p{
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
    }

    .img1 img {
        margin-top: 15px;
        margin-left: 20%;
        height: 90px;
        width: 90px;
    }
    .img2 img {
        margin-top: -40%;
        margin-left: 5%;
        height: 110px;
        width: 140px;
    }
    .img3 img {
        margin-left: 5%;
        height: 110px;
        width: 140px;
    }
}


@media (min-width: 1400px){
    body {
        display: grid;
        grid-template-areas: 'content header'
                             'content aside';
        grid-template-rows: 15vh 85vh;
        grid-template-columns: 78% 22%;
    }

    .melhorJogador{
        width: 60vh;
        margin-left: 60px;
        color: white;
        margin-top: 80px;
    }

    .melhorJogador h1{
        font-family: 'Poppins', sans-serif;
        font-size: 60px;
        margin-bottom: 40px;
    }
    
    .melhorJogador p{
        font-family: 'Poppins', sans-serif;
        font-size: 22px;
    }
}

